
div(id=viewId)
    .content
        .frame
            .view
                img(src="/Arizona_free.jpg") 
        .scrollV
            .one
            .two
        .scrollH
            .one
            .two
        .corner
